.header {
  background-color: var(--background);
}

.container {
  max-width: 1224px;
  display: flex;
  padding: 2rem;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.logo {
  width: 104px;
}

.menu_mobile {
  width: 21px;
}

.mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--background);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1000;
}

.mobile__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navegacao {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navegacao > a  {
  margin: 2rem 0;
}

.menu {
  display: none;
}
.menu > a + a {
  margin-left: 2rem;
}

.link {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  line-height: 19px;
  color: var(--link);
  text-transform: uppercase;
}

.link__active {
  font-weight: 700;
  line-height: 19px;
  color: var(--blue-500);
}

@media (min-width: 768px) {
  .menu {
    display: flex;
  }
  .menu_mobile {
    display: none;
  }
  .logo {
    width: 142px;
  }
}

