.footer {
  width: 100%;
  background: #ECF6FF;
}

.container {
  position: relative;
  max-width: 1224px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 0 auto;

  a + a {
    margin-left: 2rem;
  }
  .img {
    max-width: 100px;
  }
}

.menu {
  display: none;
}

@media (min-width: 768px) {
  .menu {
    display: block;
    position: absolute;
    left: 0;
    margin-left: 2rem;
  }
}
