:root {
  --background: #ECF6FF;
  --title:  #424242;
  --subtitle: #606060;
  --text: #707070;
  --link: #555555;

  --blue-100: #F4FAFF;
  --blue-300: #6FBAFF;
  --blue-500: #0061BA;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text);
}

button {
  cursor: pointer;
}

ul {
  list-style:  none;
}

.page-header {
  background: var(--background);
  margin-top: -1px;
  padding: 2rem;
}

.page-header__content {
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.page-header__text {
  max-width: 420px;
}

.page-header__text > h1, .page-header_posts > h1 {
  margin-bottom: 2rem;
}

.conteudo {
  max-width: 1024px;
  margin: 0 auto;
  padding: 2rem 0;
}

.conteudo > .data {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 30px;
  color: #C0C0C0;
  margin-bottom: 2rem;
}

.conteudo > h2 {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 35px;
  color: #606060;
  margin: 2rem 0;
}

.conteudo > .text-post {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 35px;
  color: #606060;
}

.text-post  img {
  max-width: 800px;
}

h1, p, span, strong {
  font-family: 'Josefin Sans', sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: var(--title);
}

p {
  color: var(--subtitle);
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

#__next {
  height: 100vh;
}
.page-container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  height: 100vh;
}
.page-content {
  flex: 1;
}

.post-list {
  width: 100%;
  padding: 1rem;
}

.page-header__content > .img {
  display: none;
}
.icon {
  max-width: 24px !important;
  width: 24px !important;
}

@media (min-width: 768px) {
  h1 {
    font-size: 60px;
    line-height: 60px;
  }
  .page-header__content > .img {
    display: block;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}
